.container{
    margin: 20%;

}
.loginform{
    text-align: center;

}
.playerOne {
    float: left;
    margin: 15px;
    padding: 5px;
    border : 5px solid;
    text-align: center;
    
}
.choice:hover{
    background-color:lightblue;
    
}
.choice {
    width: 100%;
    font-size: 16px;
    font-weight: bolder;
    color: green;
}

.playerTwo {
    float: left;
    margin: 15px;
    padding: 5px;
    border : 5px solid;
    text-align: center;
}